.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;

    margin: 0 auto;
    padding: 15px;

    width: 500px;

    background-color: white;
    border: 1px solid #7a7a7a;

    border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7a7a7a;

    margin-bottom: 1em;
    padding-bottom: 5px;
}

.modal .modal-header .modal-close {
    border: none;
    background: transparent;
    cursor: pointer;
}
.modal .modal-header .modal-close img {
    height: 25px;
    width: 25px;
}

.modal-blur {
    position: absolute;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
}
